html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit} 

/* ========================================================================================== */
/*  estilo : comun  */
/* w3 schoools compound colors rojo #FE2712 */


:root {
    --linkcolor:             hsl(87, 58%, 47%);
    --linkcolorhover:        hsl(197, 70%,   12%);
    --formfondocolor:        hsl(000,  00%, 100%);
    --formfondocolorhover:   hsl(000,  00%, 95%);
    --labelyheadercolor:     hsl(219, 85%, 47%);
/*    --icolor:                hsl(330, 100%, 50%);
      --icolorcurrent:         hsl(330, 100%, 40%);  */
    --navegaletracolorhover:       hsl(87, 58%,   47%);
    --navegaletracolor:      hsl(72,    69%,  90%); 
    --navegafondocolor:      hsl(197, 70%,   12%);


    --negro:                 hsl(197, 70%,   12%);
    --griso:                 hsl(000,  00%,  60%);
    --blanco:                hsl(000,  00%, 100%);
    --warncolor:             hsl(000, 100%,  70%);
    --greencolor:            hsl(120, 100%,  70%);
  }

span.enfasis   { font-weight:bolder; }

.feedbackwarn  { color: var(--negro);  background: var(--warncolor);}
.feedbackgreen { color: var(--negro);  background: var(--greencolor); }

a:link, a:visited, a { font-weight:bolder;  color: var(--linkcolor);
                font-family:'Bree Serif', 'Courier Prime', 'Oswald', mono, monospace;
                text-decoration:none;  }
a:hover, a:focus { color:var(--linkcolorhover);
                font-family:'Bree Serif', 'Courier Prime', 'Oswald', mono, monospace;
                text-decoration:none; }

form button[type="submit"]      , button[type="button"]      {  
    background-color:var(--navegafondocolor); 
    color: var(--navegaletracolor);
 }
form button[type="submit"]:hover, button[type="button"]:hover{  
    background-color:var(--navegafondocolor);
    /*   border:0px solid var(--warncolor);   */
    color: var(--navegaletracolorhover);
}
/**/

div#menuicons h1.menuHidableDriver { color:var(--navegaletracolorhover); }

input[type="text"], input[type="radioxx"], input[type="tel"], input[type="password"], input[type="email"], textarea{
    background-color:var(--formfondocolor);
    border:none;
    border-bottom:4px solid var(--griso);
    outline: none;
}
input[type="text"]:focus, input[type="radioxx"]:focus, input[type="tel"]:focus, input[type="password"]:focus,
input[type="email"]:focus, textarea:focus{
    background-color:var(--formfondocolorhover);
    border:none;
    border-bottom:4px solid var(--linkcolor); 
}

fieldset{ border:0px solid var(--negro);}
div#donde div#atucasa { border:0px solid var(--negro); }

/*
fieldset.notHidable label { font-family:'Courgette', 'Bree Serif', 'Courier Prime', 'Oswald', mono, monospace; }
fieldset.notHidable label.explica { font-family:'Oswald', mono, monospace;  }
*/

h5.footersubtitulo, ul.navega li a, div#opcionesdiv h5, div#nombreyRevisado h5, 
h2.notHidable, span.diasOld, fieldset.notHidable label,
fieldset.hidable label,  fieldset.hidable label.explica, span.enfasis
{ font-family:'Bree Serif', 'Courier Prime', 'Oswald', mono, monospace; }

h2.footertitulo { font-family:'Courgette', 'Bree Serif', 'Courier Prime', 'Oswald', mono, monospace; }

h2.footertitulo       { text-shadow: 0 4px 1px var(--navegafondocolor); }
h2.footertitulo:hover { text-shadow: 0 0px 1px var(--navegaletracolorhover); }

fieldset.notHidable label{ font-weight:bolder; color:var(--labelyheadercolor); }
fieldset.notHidable label.explica, fieldset.hidable label,  fieldset.hidable label.explica  
{ font-weight:bolder; color:var(--negro); }


form[id$=Form] h3.feedback   { font-family:'Oswald', mono, monospace; font-weight:bolder; }


/*   div#video h2.notHidable { font-family: 'Courgette', mono, monospace;}
     div#video h2.notHidable { color:var(--negro) }   */



 div#quien div.hidable ul  i 
    { border-color:var(--negro);  border-style:solid;  border-width:0pt;  border-radius:5pt;   /* no usando borde*/
    color:var(--navegaletracolor); background: var(--navegafondocolor);}
 div#quien div.hidable ul  i:hover,  div#quien div.hidable ul  i:focus,  div#quien div.hidable ul  i.current 
    { border-color:var(--labelyheadercolor); border-width:0pt;   /* no usando borde*/
    color:var(--navegaletracolorhover); }

 div#cuando td, div#cuando td.hora, div#donde span.texto, div#donde span.textofixed, p, div#quien h5, div#opcionesdiv h2, div#que ul li, div#donde ul li  
{ font-family:'Courier Prime', serif, mono, monospace; }
 
 div#cuando td, div#donde span.textofixed, span.diasOld  
{ font-weight:bolder;  color:var(--negro); }

 div#cuando td.hora,  div#donde span.texto, div#quien h5, div#opcionesdiv h2
{ color:var(--labelyheadercolor);   font-weight:bolder;}

 i[class*="fa-trash-alt"], i[class*="fa-chevron-circle"]
{  color:var(--linkcolor); }
i[class*="fa-trash-alt"]:hover, i[class*="fa-chevron-circle"]:hover,
i[class*="fa-trash-alt"]:focus, i[class*="fa-chevron-circle"]:focus
{  color:var(--linkcolorhover); }