/*  orden : comun  */ 
ul.navega i{ padding: 0em 0.333em; }


div#footer { padding-top:5em;   padding-left:5%; padding-right:5%;  }
div#footer h2.footertitulo    { text-align:center; }
div#footer h5.footersubtitulo { text-align:center; }

form[id$=Form] { padding-top:5em; }


form[id$=Form] h3 { text-align:center; }
div#creaNepeTitulo h3, div#updateNepeTitulo h3, div#creaNepeTitulo label.explica,  div#updateNepeTitulo label.explica  { text-align:center; display:block; }

div#opcionesdiv.opcionesfotos a img { margin-top:0px; margin-bottom:0px; margin-right:2px; margin-left:0px; }
div#opcionesdiv.opcionesfotos h3 {  margin-bottom:50px; }

/* profile */
.videoframecontainer {
  position: relative;
  padding-bottom: 56.25%;

  display:block; margin-left:auto; margin-right:auto;
}

.videoframecontainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
div#video h2.notHidable, div#quien h5 { text-align:center ; } 
div#video h5 { text-align:right; }

div#quien ul { text-align:center; margin-top:0pt; margin-bottom:20pt; }


div#quien h5 { display:none; }
div#quien h5.current { display:block; }
div#video h5, div#quien h5 { margin-top:20pt; margin-bottom:20pt; }
div#que ul, div#donde ul, div#quien ul { list-style-type:none; }


div#donde span#background.si, div#donde span#background.no
{ background: url("../imagenes/si-no.png");
  vertical-align:text-bottom;
  display:inline-block;
  height:25px;
  width:25px;
  margin-left:10pt;
  margin-right:5pt; }
 
div#donde span#background.no{ background-position:0px -25px; }
div#donde div#atucasa { border:0px solid black;}
div#donde div#atucasa span#atucasa { display:block; text-align:center }
div#donde i{ margin-right:5pt; }

/*  faq  */
div#faqdiv i[class*="fa-chevron-circle"]{ margin-left:1em; }

/*  faq  crea update nepe edit dueno show nepes  */
.notHidable{  margin-top:2.5em;   padding:0px;  }

/*  crea update nepe  edit dueno show nepes  */
.hidable, .subArea{  margin-top:1em;  padding:0px;  }


/* admin */
fieldset  table tr i[class*="fa-trash-alt"],  fieldset label i[class*="fa-chevron-circle"] { margin-left:1em;  }

.nadah3 { text-align:center; }