/*  orden : comun  */ 
body {  width:100%;  margin:0px auto;  }

a:link, a:visited, a {  font-size: 1.10em;  letter-spacing:0.20em;  }


div#footer           { padding-top:8em;   padding-left:5%; padding-right:5%;  }
div#containerForMain { padding-top:0em;   padding-left:5%; padding-right:5%;  }
div#footer h2.footertitulo, div#footer h5.footersubtitulo, h3.feedback, h5.feedback, h5.warn
{ text-align:center;  margin:0px auto; }

table.subArea  { border-collapse: separate; border-spacing: 0em 2em; }

/*forms*/
form[id$=Form] { padding-top:5em; }
form button[type="submit"], button[type="button"]{
  border-radius: 4pt;  display:block;   margin:0em auto 0em; 
  font-size: 30px;  width:120px;  height:50px;  padding-top:8px;
}

form#queDondeForm fieldset.notHidable label, form#loginForm fieldset.notHidable label, form#registroForm fieldset.notHidable label
 { margin-left: 10%; }

fieldset.notHidable label         { font-size:1.85em; letter-spacing:0.0em; display: block; }
fieldset.notHidable label.explica { font-size:0.70em; letter-spacing:0.20em; display:block; text-align:left; }


fieldset.hidable label {  font-size:0.85em; letter-spacing:0.20em;   display: block; }
fieldset.hidable label.explica {  font-size:0.70em; letter-spacing:0.20em; display:block; text-align:left; }

div#nepeTitulo fieldset label, div#nepeTitulo fieldset label.explica, div#nombreyRevisado fieldset label,
div#recentNepes fieldset label, div#labelTableContainer fieldset label
{ text-align:center; display:block; }
fieldset.subArea label.conMargen { margin-top: 1em; margin-left: 2em; display: inline-block; }
fieldset.subArea input.conMargen { margin-top: 1em; margin-left: 0.5em; display: inline-block; }
fieldset.hidable { margin-top: 1em; display: inline-block; width:100%;}

input[type="text"], input[type="radioxx"], input[type="tel"], input[type="password"], input[type='email'], textarea{
	display:block;    margin:0em auto;
  border-radius: 4px;   font-size:0.85em;  width:80%; margin-bottom: 12px;  padding: 0px 5px;         
}

/*opciones*/
div#opcionesdiv.opcionesfotos a img, div#nepefotos img { margin-top:0px; margin-bottom:0.50em; margin-right:0.25em; margin-left:0px; }
div#opcionesdiv.opcionesfotos h2 {  margin-bottom:2em; }



/* profile */
.videoframecontainer {
  position: relative;
  padding-bottom: 56.25%;

  display:block; margin-left:auto; margin-right:auto;
}

.videoframecontainer iframe {
  position: absolute;  top: 0;  left: 0;  width: 100%;  height: 100%;
}

div#cuando table.hidable { margin-left:auto; margin-right:auto; }
div#nepefotos, div#quien h5, div#quien ul { text-align:center ; } 
div#quien ul { margin-top:0pt; margin-bottom:20pt; }

/* profile red icons*/
div#quien ul li i { font-size:25px; }
div#quien li { display:inline-block; margin-right:12px; margin-left:12px; margin-top:0px; margin-bottom:0px; }


div#quien h5 { display:none; }
div#quien h5.current { display:block; }
div#quien h5 { font-size:1.15em; letter-spacing:0.2em; margin-top:20pt; margin-bottom:20pt; }
div#que ul, div#donde ul, div#quien ul { list-style-type:none; }
div#que ul li, div#donde ul li { margin-top:1em; margin-bottom: 1em; padding-left:3em; }

div#donde span#background.si, div#donde span#background.no{ 
  background: url("../imagenes/si-no.png"); vertical-align:text-top; display:inline-block;  height:25px;  
  width:25px; margin-left:10pt; margin-right:5pt; 
}
div#donde span#background.no{ background-position:0px -25px; }

span#sucasa, span#desdecasa { display:block; text-align:center }
div#donde i{ margin-right:5pt; }
div#donde span.textofixed  { font-size:0.85em; letter-spacing:0.2em; margin-top:20pt; margin-bottom:00pt; display:inline-block; }

table td.hora { text-align: left; padding-left:2em;} 
table td.dia, div#nombreyRevisado h5  { text-align: right; } 
span.diasOld { font-size:0.75em; letter-spacing:0em; margin-left:2em; }

/*  faq  crea update nepe edit dueno show nepes profile-titulo, quien... */
.notHidable{  padding:0px;  padding-top:4em;   margin:0px; }

/*  crea update nepe  edit dueno show nepes  */
.hidable, .subArea{  margin:0px;  margin-top:1em;  padding:0px;  }


i[class*="fa-trash-alt"], i[class*="fa-chevron-circle"]
{ margin-left:1em;  }



@media screen and (min-width: 768px) {
  a:link, a:visited, a {  font-size: 1.15em;  letter-spacing:0.30em;  }
  
  /* profile red icons*/
  div#quien ul li i { font-size:36px; }
  div#quien li { display:inline-block; margin-right:16px; margin-left:16px; margin-top:0px; margin-bottom:0px; }

  form button[type="submit"], button[type="button"]{
    font-size: 40px;  width:160px;  height:60px;  padding-top:10px;
  }

  fieldset.notHidable label { font-size:2.15em; letter-spacing:0.10em; display: block; }
  div[id$=Titulo] label.explica, fieldset.notHidable label.explica { font-size:0.85em; letter-spacing:0.20em; display:block; text-align:left; }

  fieldset.hidable label {  font-size:0.85em; letter-spacing:0.30em;  display:block;  }
  fieldset.hidable label.explica {  font-size:0.70em; letter-spacing:0.20em; display:block; text-align:left; }

  input[type="text"], input[type="radioxx"], input[type="tel"], input[type="password"], input[type='email'], textarea{
    border-radius: 8px;  font-size:0.85em;  width:80%; margin-bottom: 25px;  padding: 0px 5px;         
  }

}



@media screen and (min-width: 1024px) {
  a:link, a:visited, a {  font-size: 1.15em;  letter-spacing:0.30em;  }
  
  /* profile red icons*/
  div#quien ul li i { font-size:48px; }
  div#quien li { display:inline-block; margin-right:20px; margin-left:20px; margin-top:0px; margin-bottom:0px; }

  form button[type="submit"], button[type="button"]{
    font-size: 40px;  width:160px;  height:60px;  padding-top: 10px;
  }

  fieldset.notHidable label { font-size:2.15em; letter-spacing:0.25em; display: block; }
  div[id$=Titulo] label.explica, fieldset.notHidable label.explica { font-size:0.85em; letter-spacing:0.20em; display:block; text-align:left; }

  fieldset.hidable label {  font-size:0.85em; letter-spacing:0.30em;  display:block;  }
  fieldset.hidable label.explica {  font-size:0.70em; letter-spacing:0.20em; display:block; text-align:left; }

  input[type="text"], input[type="radioxx"], input[type="tel"], input[type="password"], input[type='email'], textarea{
    border-radius: 8px;   font-size:0.85em;  width:80%;  margin-bottom: 25px;   padding: 0px 5px;         
  }

}