/*  orden : comun  */ 
body {  width:100%;  margin:0px auto;  }

a:link, a:visited, a {  font-size: 1.10em;  letter-spacing:0.20em;  }


div#footer           { padding-top:8em;   padding-left:5%; padding-right:5%;  padding-bottom:1em; }
div#containerForMain { padding-top:0em;   padding-left:5%; padding-right:5%;  }
div#footer h2.footertitulo, h5.footersubtitulo
{ text-align:center;  margin:0px auto; }

table.subArea  { border-collapse: separate; border-spacing: 0em 2em; width:100%; }

/*forms*/
form[id$=Form] { padding-top:5em; }
form button[type="submit"], button[type="button"]{
  border-radius: 4pt;  display:block;   margin:2em auto 2em; 
  font-size: 30px;  width:90px;  padding:0px;
}

button i{ margin:0.2em auto 0.2em; }

form#queDondeForm section label.cabe, form#loginForm section label.cabe,
form#registroForm section label.cabe
{ margin-left: 10%; }

section label.cabe         { font-size:1.5em; letter-spacing:0.0em; display: block; }
section label.explica { font-size:0.95em; letter-spacing:0.20em; display:block; text-align:left; }

fieldset.hidable label {  font-size:0.90em; letter-spacing:0.20em;   display: block;  margin-left: 10%;  }

section.cabe label, 
form#loginForm div#registro a, form#registroForm div#login a
{ text-align:center; display:block; }
fieldset.subArea input.conMargen { margin-top: 1em;  display: inline-block; }
fieldset.subArea label.conMargen { margin-top: 1em; margin-left: 1em; display: inline-block; }
fieldset.hidable { margin-top: 3em; display: inline-block; width:100%; }

input[type="text"], input[type="tel"],
input[type="password"], input[type='email'], textarea {
	display:block;    margin:0em auto;
  border-radius: 0px;   font-size:0.85em;  width:80%; margin-bottom: 1em;  padding: 0.5em;         
}
input[type="radio"] { margin-left:10%; }

/*fotos en opciones, view nepe y ...*/
div#nepefotos img { margin-top:1.0em; margin-bottom:0em; }
div#nepefotos h5 { margin-top: 0em; margin-bottom: 0em; } 


/* profile */
.videoframecontainer {
  position: relative;
  padding-bottom: 56.25%;

  display:block; margin-left:auto; margin-right:auto;
}

.videoframecontainer iframe {
  position: absolute;  top: 0;  left: 0;  width: 100%;  height: 100%;
}

section#cuando table.hidable { margin-left:auto; margin-right:auto; }
div#nepefotos, tr.foto,
section#quien h5, section#quien ul
{ text-align:center ; } 
section#quien ul { margin-top:60pt; margin-bottom:10pt; padding: 0pt; }

/* profile red icons*/
section#quien ul li i { font-size:1.5em; padding-top: 0.125em; padding-left: 0.125em; padding-bottom: 0.125em; }
section#quien li { display:inline-block; margin-right:0.75em; margin-left:0.75em; margin-top:1em; margin-bottom:0px; }


section#quien h5 { display:none; }
section#quien h5.current { display:block; }
section#quien h5 { font-size:1.15em; letter-spacing:0.2em; margin-top:20pt; margin-bottom:20pt; }
section#que ul, section#donde ul, section#quien ul { list-style-type:none; padding: 0em;}
section#que ul li, section#donde ul li { margin-top:1em; margin-bottom: 1em; padding-left:2em; }

section#donde span#background.si, section#donde span#background.no{ 
  background: url("../imagenes/si-no.png"); vertical-align:text-top; display:inline-block;  height:25px;  
  width:25px; margin-left:10pt; margin-right:5pt; 
}
section#donde span#background.no{ background-position:0px -25px; }

span#sucasa,   span#desdecasa { display:block; text-align:center }
span#sucasa i, span#desdecasa i{ margin-right:1em; }
span#sucasa span.textofixed, span#desdecasa span.textofixed { margin-top:20pt; display:inline-block; }

table td.hora { text-align: left; padding-left:2em;} 
table td.dia, div#nombreyRevisado h5  { text-align: right; } 
span.diasOld { font-size:0.75em; letter-spacing:0em; margin-left:2em; }

/*  faq  crea update nepe edit dueno show nepes profile-titulo, quien... */
section{  padding:0px;  padding-top:4em;   margin:0px; }

/*  crea update nepe  edit dueno show nepes  */
.hidable, .subArea{  margin:0px;  margin-top:2em;  padding:0px;  }


i[class*="fa-trash-alt"], i[class*="fa-chevron-circle"]
{ margin-right:1em;  }

h3.feedback {
  border-radius: 4pt;  display:block;   margin:0em auto 0em;   text-align:center; 
  width:80%;   padding:1em 0em 1em;
}



@media screen and (min-width: 768px) {
  a:link, a:visited, a {  font-size: 1.15em;  letter-spacing:0.30em;  }
  
  /* profile red icons*/
  section#quien ul li i { font-size:2em; }
  section#quien li { display:inline-block; margin-right:1.25em; margin-left:1.25em; margin-top:2em; margin-bottom:0px; }

  form button[type="submit"], button[type="button"] {
    margin:2em auto 2em;
    font-size: 40px;  width:120px;  
  }

  section label.cabe { font-size:1.7em; letter-spacing:0.10em; display: block; }
  section label.explica { font-size:0.95em; letter-spacing:0.20em; display:block; }

  fieldset.hidable label {  font-size:0.90em; letter-spacing:0.30em;  display:block;  margin-left: 10%;  }

  input[type="text"], input[type="tel"],
  input[type="password"], input[type='email'], textarea {
    border-radius: 0px;  font-size:0.85em;  width:80%; margin-bottom: 2em;  padding: 0.5em;         
  }
  input[type="radio"] { margin-left:10%; }

  h3.feedback {
    width:80%;  
  }

}



@media screen and (min-width: 1024px) {
  a:link, a:visited, a {  font-size: 1.15em;  letter-spacing:0.30em;  }
  
  /* profile red icons*/
  section#quien ul li i { font-size:2.5em; }
  section#quien li { display:inline-block; margin-right:1.5em; margin-left:1.5em; margin-top:2em; margin-bottom:0px; }

  form button[type="submit"], button[type="button"]{
    margin:2em auto 2em;
    font-size: 40px;  width:120px;
  }

  section label.cabe { font-size:1.7em; letter-spacing:0.25em; display: block; }
  section label.explica { font-size:0.95em; letter-spacing:0.20em; display:block; }

  fieldset.hidable label {  font-size:0.90em; letter-spacing:0.30em;  display:block;  margin-left: 10%;  }

  input[type="text"], input[type="tel"],
  input[type="password"], input[type='email'], textarea {
    border-radius: 0px;   font-size:0.85em;  width:80%;  margin-bottom: 2em;   padding: 0.5em;         
  }
  input[type="radio"] { margin-left:10%; }

  h3.feedback {
    width:80%;  
  }

}