/* My selectors are too specific, they should apply more generally */

/*orden  : comun*/
/*This makes sure that the padding and border are included in the total width and height of the elements. */
* { box-sizing:border-box; }
body { margin:0px auto; min-width:320pt; max-width:960pt; }
.margen { margin-left:1%; margin-right:1%; }
.contenido { margin-bottom:100pt; margin-top:100pt; }
.centro { margin-left:auto; margin-right:auto; }

/*vertical-align pone la imagen en el fondo del texto q iria alrededor de un elemento inline como lo son las imagenes, sino creas un gap entre la img y el containing div */
/* 
div#header { border-bottom:2pt solid #909090; }
div#header img { width:100%; vertical-align:text-bottom; max-height:50pt; }	
*/

div#footer { min-height:107pt; overflow:auto; }
div#footer ul { text-align:left; list-style-type:none; padding:0; }
div#footer li { display:inline-block; padding-left:1em;  }
div#navega    {  background-color:white; border-bottom:2pt solid #909090; }
div#navega ul { text-align:left; list-style-type:none; margin:0pt; padding:0; }
div#navega li { display:inline-block; margin-right:25pt; padding:10pt 0; }
div#navega li img { vertical-align:middle; }

label#portada-warning.explica { font-size:0.85em; letter-spacing:0.2em; font-weight:bolder; color:#29b963; display:block; text-align:center; }
label#portada-warning.explica { margin-top:600pt; }



/*estilo : comun */
/*
.color01{ color:#c0392b } labels y h2s de profile faq y creaNepeData. try rojito #fd341d;                             ::: google 'RED' ea4335
.color02{ color:#27ae60 } profile video h1 y footer background                          ::: google 'GREEN' 34a853
.color03{ color:#29b963 } label de busca, login y creaDueno, div#cuando td, .colorenfasis, label.explica, div#quien ul img:hover, div#quien h3, div#donde h3  for verde try 00e356
.color04{ color:#7fb3d5 } button link hover background
.color05{ color:#4285f4 } button link border                                                   ::: google 'BLUE' 4285f4
.color06{ color:#f1c40f } currentl not used                                                    ::: google 'YELLOW' f9ab00
2980b9 normal links and nav links
909090 header bottom y footer borders
c0c0c0 border bottom navega
*/
body { background-color:white; font-family:'Slabo 27px', Times, times, serif; font-weight:normal; letter-spacing:0.1em; } /*like faq paragraph*/
h1 { letter-spacing:0.40em; }
h2 { letter-spacing:0.30em; }
h3 { letter-spacing:0.25em; }
h4 { letter-spacing:0.15em; }
h5 { letter-spacing:0.10em; }
/*estilo : error y look de portada cuando javascript disabled*/
div#main h1, div#main h2, div#main h3, div#main h4 { color:#c0392b; }
p, td { line-height:2em; }
p::first-letter{ font-size:1.3em; }
.color01enfasis{ font-size:1.1em; font-weight:bold; font-family:mono, monospace; color:#29b963;}
.color02enfasis{ font-size:1.1em; font-weight:bold; font-family:mono, monospace; color:#c0392b;}
.sizeenfasis { font-size:1.2em; font-weight:bold; font-family:mono, monospace;}
a.link { text-decoration:none; font-weight:bolder; }
a.link:link,     a.link:visited { color:#2980b9 }    /* links on faq do not have any other class changing their color */
a.link:hover, a.link:focus { text-decoration:underline; }
a.link li:hover, a.link li:focus { text-decoration:underline; }

div#navega a.navelink { font-family:serif, mono, monospace; font-size:0.8em; }
div#navega a.navelink:link,     a.navelink:visited { color:white; }  /* changed in pinta header links ()  */
h1, h2, h3, h4, label { font-family:'Bree Serif', courier, mono, monospace; }
div#footer h2.footertitulo { font-family:mono, monospace, serif, fantasy;  text-align:center; color:white; }
div#footer h5.footersubtitulo {    font-family:mono, monospace, serif, fantasy;  text-align:center; color:white;   margin-bottom:50pt;}
div#footer h5 {              font-family:serif, fantasy, mono, monospace;  text-align:right;  color:white; margin-right:1em; }

div#footer a.footerlink { font-family:courier, mono, monospace; font-size:0.75em; }
div#footer a.footerlink:link,     a.footerlink:visited { color:white; }
/* footer color was 067060*/
div#footer { background-color:#2980b9; border-top:2pt solid #909090; border-bottom:2pt solid #909090; }




/*orden : busca */
form[id$=Form] { margin-left:auto; margin-right:auto; }
form[id$=Form] label { float:left; clear:left; width:90%; text-align:left; }
form[id$=Form] input { float:left; clear:left; width:90%; margin-bottom:20pt; }
form[id$=Form] button { width:25%; position:relative; left:37.5%; }
form[id$=Form] h3 { text-align:center; }
/*
old side arrangement
form#creaDuenoForm { margin-left:auto; margin-right:auto; }
form#creaDuenoForm label { float:left; clear:left; width:40%; text-align:right; margin-right:7.5%; }
form#creaDuenoForm input { width:50%; } /*hasta aqui un width de 40 + 7.5 + 50; esta suma suma debe dejar disponible menos q el width del button
form#creaDuenoForm button { width:25%; position:relative; left:47.5%; }
form#creaDuenoForm h3 { text-align:center; }
*/



/*estilo : busca */
form#queDondeForm label { font-size:1.7em; letter-spacing:0.40em; font-weight:bolder; color:#c0392b; display: block; }
form[id$=Form] input { font-size:1.5em; border-radius:5pt; background-color:#ebebeb; }
form[id$=Form] input:focus { background-color:#dadada; }
form[id$=Form] button { border-radius:5pt; background-color:white; border-color:#1f5aa0; border-style:solid;  border-width:2pt; }
form[id$=Form] button:hover, form[id$=Form] button:focus { background-color:#7fb3d5; }
form[id$=Form] h3 { font-family:serif, Times, times; color:#29b963; }




/*orden : profile */
div#video iframe { display:block; margin-left:auto; margin-right:auto; }
div#quien, div#cuando, div#que, div#donde { margin-top:50pt; border-top:1pt solid #dadada; }
div#que ul, div#donde ul, div#quien ul { padding:0; }
div#que li, div#donde li { display:inline-block; margin-right:2pt; margin-bottom:1.5em; }
div#quien h3 { display:none; }
div#quien h3.current { display:block; }
div#quien h3, div#donde h3, div#video h1 { text-align:center; }
div#video h5, div#quien h3, div#donde h3 { margin-top:20pt; margin-bottom:20pt; }
div#donde h3 span.si, div#donde h3 span.no, div#cuando h3 span.si, div#cuando h3 span.no
{ background: url("../imagenes/si-no.png");
  vertical-align:text-bottom;
  display:inline-block;
  height:25px;
  width:25px;
  margin-left:10pt;
  margin-right:10pt; }
div#donde h3 span.no, div#cuando h3 span.no { background-position:0px -25px; }
div#cuando td.dia { text-align:right; }
div#cuando td.hora { text-align:left; position:relative; left:25pt; }

div#quien ul { text-align:center; margin-top:0pt; margin-bottom:20pt; }
div#quien li { display:inline-block; margin-right:12pt; margin-left:12pt; margin-top:0pt; margin-bottom:0pt; }
div#quien ul li img { width:25pt; }






/*estilo : profile */
div#video h1 { color:#c0392b; }
div#que h2, div#donde h2, div#cuando h2, div#quien h2 { color:#c0392b; }
/*div#cuando h3 { color:#f1c40f; } */
/*font para #que #donde #cuando*/
a.clavelink { font-family:'Slabo 27px', Times, times, courier, mono, monospace; letter-spacing:0.1em; }
div#cuando td, div#video h5, div#quien h3, div#donde h3 { font-weight:bolder; font-family:serif, Times, times; color:#29b963;}
div#video h5 { color:#29b963; text-align:right; font-weight: bolder; }
div#cuando td.hora { font-weight:bold; }
a.clavelink:link, a.clavelink:visited {
    background-color:white;
    color:black;
    border-color:#1f5aa0;
    border-style:solid;     border-width:1pt;  border-radius:5pt;
	 /*border-top-left-radius:40% 50%; border-top-right-radius:40% 50%; border-bottom-left-radius:20% 50%; border-bottom-right-radius:20% 50%;*/
    padding:0.25em 0.5em 0em 0.5em; }
a.clavelink:hover, a.clavelink:focus {
	text-decoration:none; /*todos los .link aqui subrayan, pero este NO*/
    background-color:#7fb3d5;
    color:#ffffff;  }

div#que ul, div#donde ul, div#quien ul { list-style-type:none; }
div#quien ul img { border-color:#000000;  border-style:solid;  border-width:1pt;  border-radius:5pt; padding:0.2em; }
div#quien ul img:hover, div#quien ul img:focus, div#quien ul img.current { border-color:#29b963; border-width:3pt; }







/*orden : opciones */
div.opcionesfotos { overflow:auto; }
div.opcionesfotos img { /*display inline is a default for img */ display:inline; float:left; padding-left:1pt;  padding-bottom:2pt; }
/*estilo : opciones */
div#main .opcionesfotos h3 { color:#29b963;}
/* div#main .opcionesfotos h3 { font-weight:bold; } */




/*orden : login */
/*casi una copia de busca*/
/*
form#loginForm { margin-left:auto; margin-right:auto; }
form#loginForm label { float:left; clear:left; width:90%; text-align:left; }
form#loginForm input { float:left; clear:left; width:90%; margin-bottom:20pt; }
form#loginForm button { width:25%; position:relative; left:37.5%; }
form#loginForm h3 { text-align:center; }
*/



/*estilo : login */
/*casi una copia de busca*/
form#loginForm label { font-size:1.0em; letter-spacing:0.4em; font-weight:bolder; color:#c0392b; display:block; }
form#loginForm input { font-size:1.5em; border-radius:0pt; background-color:white; border:none; border-bottom: 1px solid #909090; }
form#loginForm input:focus { background-color:white; }
/*form#loginForm button { border-radius:5pt; background-color:white; border-color:#1f5aa0; border-style:solid;  border-width:2pt; }
form#loginForm button:hover, form#loginForm button:focus { background-color:#7fb3d5; }
form#loginForm h3 { font-family:serif, Times, times; color:#29b963; }
*/


/*orden : creaDueno */
/*casi una copia de busca*/
/*
form#creaDuenoForm { margin-left:auto; margin-right:auto; }
form#creaDuenoForm label { float:left; clear:left; width:90%; text-align:left; }
form#creaDuenoForm input { float:left; clear:left; width:90%; margin-bottom:20pt; }
form#creaDuenoForm button { width:25%; position:relative; left:37.5%;   }
form#creaDuenoForm h3 { text-align:center; }
*/



/*estilo : creaDueno */
/*casi una copia de busca*/
form#creaDuenoForm label { font-size:1.0em; letter-spacing:0.4em; font-weight:bolder; color:#c0392b;  display:block;}
form#creaDuenoForm input { font-size:1.5em; border-radius:0pt; background-color:white; border:none; border-bottom: 1px solid #909090; }
form#creaDuenoForm input:focus { background-color:white; }
/*
form#creaDuenoForm button { border-radius:5pt; background-color:white; border-color:#1f5aa0; border-style:solid;  border-width:2pt; }
form#creaDuenoForm button:hover, form#creaDuenoForm button:focus { background-color:#7fb3d5; }
form#creaDuenoForm h3 { font-family:serif, Times, times; color:#29b963; }
*/




/*estilo : faq */
[id*="preg"] h1, [id*="preg"] h2, [id*="preg"] h3, [id*="preg"] h4 { color:#c0392b; }
[id*="preg"] { padding-bottom:50pt; }



/* orden : creaNepeData */
div#creaNepe { margin-left:auto; margin-right:auto;  padding-bottom:30pt;}
div#creaNepe h1, div#creaNepe  label.explica { text-align:center; }

form#creaNepeForm { margin-left:auto; margin-right:auto; }
form#creaNepeForm input[type='text'],
form#creaNepeForm input[type='tel'],
form#creaNepeForm textarea,
form#creaNepeForm input[type='file'] { width:100%; }

form#creaNepeForm input[type='radio'] { width:15pt; }
form#creaNepeForm p.conMargen { margin-left:60pt; }


form#creaNepeForm fieldset#socialHandleFieldset input,
form#creaNepeForm fieldset#fotoSrcFieldset input[type='file'],
form#creaNepeForm fieldset#cuandoFieldset input { margin-bottom:20pt; }

form#creaNepeForm fieldset#socialHandleFieldset h3 { text-align:center; }
form#creaNepeForm fieldset#fotoSrcFieldset      h3 { text-align:center; }
form#creaNepeForm fieldset#submitButtonFieldset h3 { text-align:center; }


/*estilo : creaNepeData*/
div#creaNepe  label.explica { font-size:0.85em; letter-spacing:0.2em; font-weight:bolder; color:#29b963; display:block;  }

form#creaNepeForm label { font-size:1.0em; letter-spacing:0.4em; font-weight:bolder; color:#c0392b; display:block; }

form#creaNepeForm input[type='text']       { font-size:1.5em; border-radius:0pt; background-color:#ebebeb; border:none; border-bottom: 1pt solid #909090;}
form#creaNepeForm textarea[name='videoUrl']{ font-size:1.5em; border-radius:5pt; background-color:#ebebeb; font-weight:bold; }
form#creaNepeForm input[type='tel']        { font-size:1.5em; border-radius:0pt; background-color:#ebebeb; border:none; border-bottom: 1pt solid #909090;}
form#creaNepeForm input:focus { background-color:#dadada; }

form#creaNepeForm button { border-radius:5pt; background-color:white; border-color:#1f5aa0; border-style:solid;  border-width:2pt; }
form#creaNepeForm button:hover, form#creaNepeForm button:focus { background-color:#7fb3d5; }
form#creaNepeForm label.explica { font-size:0.85em; letter-spacing:0.2em; font-weight:bolder; color:#29b963; display:block; text-align:left; }
form#creaNepeForm textarea:focus { background-color:#dadada; }

form#creaNepeForm fieldset.primario { padding-bottom:5pt; margin-top:30pt; border-radius:10pt 10pt 0pt 0pt; border:none; border-bottom: 1pt solid #909090; }
form#creaNepeForm fieldset#submitButtonFieldset { padding-bottom:5pt; margin-top:30pt; border-width:0pt; }
form#creaNepeForm fieldset.secundario { margin-top:0pt; border-width:0pt; }
form#creaNepeForm fieldset.secundario label { font-size:1.2em; letter-spacing:0.00em; color:#000000; }
form#creaNepeForm fieldset.secundario label.explica { font-size:0.85em; letter-spacing:0.2em; color:#29b963; }



form#creaNepeForm button { display:block; margixxxn-bottom:30pt; }
form#creaNepeForm button { width:25%; position:relative; left:37.5%; }
div#creaNepe h1 { color:#c0392b; }
form#creaNepeForm fieldset#socialHandleFieldset.warn h3 { font-family:serif, Times, times; color:#ff0000; }
form#creaNepeForm fieldset#fotoSrcFieldset.warn      h3 { font-family:serif, Times, times; color:#ff0000; }
form#creaNepeForm fieldset#submitButtonFieldset h3.warn { font-family:serif, Times, times; color:#ff0000; }
form#creaNepeForm fieldset#socialHandleFieldset.warn  { border-color:#ff0000; }
form#creaNepeForm fieldset#fotoSrcFieldset.warn       { border-color:#ff0000; }





/* orden : updateNepe */
div#updateNepe { margin-left:auto; margin-right:auto;  padding-bottom:30pt;}
div#updateNepe h1, div#updateNepe  label.explica { text-align:center; }

form#updateNepeForm { margin-left:auto; margin-right:auto; }
form#updateNepeForm input[type='text'],
form#updateNepeForm input[type='tel'],
form#updateNepeForm textarea,
form#updateNepeForm input[type='file'] { width:100%; }

form#updateNepeForm input[type='radio'] { width:15pt; }
form#updateNepeForm p.conMargen { margin-left:60pt; }


form#updateNepeForm fieldset#socialHandleFieldset input,
form#updateNepeForm fieldset#fotoSrcFieldset input[type='file'],
form#updateNepeForm fieldset#cuandoFieldset input { margin-bottom:20pt; }

form#updateNepeForm fieldset#socialHandleFieldset h3 { text-align:center; }
form#updateNepeForm fieldset#fotoSrcFieldset      h3 { text-align:center; }
form#updateNepeForm fieldset#submitButtonFieldset h3 { text-align:center; }


/*estilo : updateNepe*/
div#updateNepe  label.explica { font-size:0.85em; letter-spacing:0.2em; font-weight:bolder;  color:#29b963; display:block; }

form#updateNepeForm label { font-size:1.0em; letter-spacing:0.4em; font-weight:bolder; color:#c0392b; display:block; }

form#updateNepeForm input[type='text']       { font-size:1.5em; border-radius:0pt; background-color:#ebebeb; border:none; border-bottom: 1pt solid #909090;}
form#updateNepeForm textarea[name='videoUrl']{ font-size:1.5em; border-radius:5pt; background-color:#ebebeb; font-weight:bold; }
form#updateNepeForm input[type='tel']        { font-size:1.5em; border-radius:0pt; background-color:#ebebeb; border:none; border-bottom: 1pt solid #909090;}
form#updateNepeForm input:focus { background-color:#dadada; }


form#updateNepeForm button { border-radius:5pt; background-color:white; border-color:#1f5aa0; border-style:solid;  border-width:2pt; }
form#updateNepeForm button:hover, form#updateNepeForm button:focus { background-color:#7fb3d5; }
form#updateNepeForm label.explica { font-size:0.85em; letter-spacing:0.2em; font-weight:bolder; color:#29b963; display:block; text-align:left; }
form#updateNepeForm textarea:focus { background-color:#dadada; }


form#updateNepeForm fieldset.primario { padding-bottom:5pt; margin-top:30pt; border-radius:10pt 10pt 0pt 0pt; border:none; border-bottom: 1pt solid #909090; }
form#updateNepeForm fieldset#submitButtonFieldset { padding-bottom:5pt; margin-top:30pt; border-width:0pt; }
form#updateNepeForm fieldset.secundario { margin-top:0pt; border-width:0pt; }
form#updateNepeForm fieldset.secundario label { font-size:1.2em; letter-spacing:0.00em; color:#000000; }
form#updateNepeForm fieldset.secundario label.explica { font-size:0.85em; letter-spacing:0.2em; color:#29b963; }



form#updateNepeForm button { display:block; marxxxgin-bottom:30pt; }
form#updateNepeForm button { width:25%; position:relative; left:37.5%; }
div#updateNepe h1 { color:#c0392b; }
form#updateNepeForm fieldset#socialHandleFieldset.warn h3 { font-family:serif, Times, times; color:#ff0000; }
form#updateNepeForm fieldset#fotoSrcFieldset.warn      h3 { font-family:serif, Times, times; color:#ff0000; }
form#updateNepeForm fieldset#submitButtonFieldset h3.warn { font-family:serif, Times, times; color:#ff0000; }
form#updateNepeForm fieldset#socialHandleFieldset.warn  { border-color:#ff0000; }
form#updateNepeForm fieldset#fotoSrcFieldset.warn       { border-color:#ff0000; }





/* orden : editDuenoData */
form#editDuenoDataForm, div#nepes { margin-left:auto; margin-right:auto; margin-top:50pt; margin-bottom:50pt;  }
form#editDuenoDataForm input[type='password']{ width:100%; }
form#editDuenoDataForm h3 { text-align:center; }

/*estilo : editDuenoData*/
form#editDuenoDataForm label, div#nepes label { font-size:1.0em; letter-spacing:0.4em; font-weight:bolder; color:#c0392b; display:block; }
/* div#nepes label { color:#29b963; } */

/*
form#editDuenoDataForm input { font-size:1.5em; border-radius:5pt; background-color:#ebebeb; }
form#editDuenoDataForm input:focus { background-color:#dadada; }
form#editDuenoDataForm button { border-radius:5pt; background-color:white; border-color:#1f5aa0; border-style:solid;  border-width:2pt; }
form#editDuenoDataForm button:hover, form#editDuenoDataForm button:focus { background-color:#7fb3d5; }
form#editDuenoDataForm h3 { font-family:serif, Times, times; color:#29b963; }
*/
form#editDuenoDataForm label.explica { font-size:0.85em; letter-spacing:0.2em; font-weight:bolder; color:#29b963; display:block; text-align:left; }

form#editDuenoDataForm fieldset.primario, div#nepes fieldset.primario { padding-bottom:5pt; margin-top:30pt; border-radius:10pt 10pt 0pt 0pt; border:none; border-bottom: 1pt solid #909090; }
form#editDuenoDataForm fieldset.secundario { margin-top:0pt; border-width:0pt; }
form#editDuenoDataForm fieldset.secundario label { font-size:1.2em; letter-spacing:0.00em; color:#000000; }
/* form#editDuenoDataForm fieldset.secundario label.explica { font-size:0.85em; letter-spacing:0.2em; color:#16a000; } */

form#editDuenoDataForm p,       div#nepes      p{ margin-top:2pt; margin-bottom:0pt; }
form#editDuenoDataForm button,  div#nepes button{ display:block; margixxxn-bottom:30pt; }
form#editDuenoDataForm button,  div#nepes button{ width:25%; position:relative; left:37.5%; }

div#nepes button { border-radius:5pt; background-color:white; border-color:#1f5aa0; border-style:solid;  border-width:2pt; }
div#nepes button:hover, form#editDuenoDataForm button:focus { background-color:#7fb3d5; }



/* orden : recentNepes */
div#recentNepes { margin-left:auto; margin-right:auto; margin-top:50pt; margin-bottom:50pt;  }
/* estilo : recentNepes */
div#recentNepes label { font-size:1.7em; letter-spacing:0.4em; font-weight:bolder; color:#c0392b; display:block; }
div#recentNepes fieldset.primario { margin:0pt; padding:0pt; padding-bottom:0pt; border-radius:10pt 10pt 0pt 0pt; }



/*estilo : nada*/
h3.nadah3   { text-align: center; }
img#nadaPic { display: block; width: 34%; margin-left:auto; margin-right:auto; }