/*  responsive : comun  */

div#borde-derecha{  display:none;  } 

body {  width:98%;  margin:0px auto;  }

ul.navega { list-style-type: none;
  margin: 0;
  padding: 0;
  background-color:hsla(180, 100%, 20%, 1);  /* #e1eaea; */   
  border-right:1px solid black;
  overflow: auto;  }

ul.navega li a { display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
  float: none;  }
 
ul.navega li a.activo {  background-color:black;  }     /* 0c6f10  #4CAF50;   */

ul.navega li a:hover:not(.activo) {  background-color: hsl(180, 100%, 15%);  }
  
/* profile red icons*/
div#quien ul li i { font-size:25px; }
div#quien li { display:inline-block; margin-right:12px; margin-left:12px; margin-top:0px; margin-bottom:0px; }

div#containerForMain, #footer {  margin-left: 0;  }
div#containerForMain { padding-top: 2.5em; padding-left:0%; padding-right:0%;  }


form button[type="submit"], button[type="button"]{
  border-radius: 5%;
  display:block;   
  margin:2em auto 0em; 
  
  font-size: 20px;
  width:48px;
  height:48px;
}




@media screen and (min-width: 667px) {
  /* profile red icons*/
  div#quien ul li i { font-size:36px; }
  div#quien li { display:inline-block; margin-right:16px; margin-left:16px; margin-top:0px; margin-bottom:0px; }

  ul.navega {  width: 100%;  height: auto;  position: relative;  }
  
  ul.navega li a {  float: left;  padding: 15px;  }
  div#containerForMain { padding-left:5%; padding-right:5%;  }

  form button[type="submit"], button[type="button"]{
    font-size: 32px;
    width:80px;
    height:80px;
  }

}

@media screen and (min-width: 1001px) {  
  body {  min-width:375px;  max-width:1024px;  margin:0px auto;  }

  /* profile red icons*/
  div#quien ul li i { font-size:48px; }
  div#quien li { display:inline-block; margin-right:16px; margin-left:16px; margin-top:0px; margin-bottom:0px; }

  ul.navega {  width: 200px;  position: fixed;  height: 100%;  }
  ul.navega li a {  text-align: left;  float: none;  }
  div#containerForMain, #footer {  margin-left:200px;  }
  div#containerForMain { padding-left:5%; padding-right:5%;  }
  body {  width:1000px;  left:calc(0.5*(100% - 1000px));  }
  #borde-derecha{  display:block;  border:1px solid black;  position: fixed;  right:calc(0.5*(100% - 1000px)); height: 100%;}


  form button[type="submit"], button[type="button"]{
    font-size: 36px;
    width:100px;
    height:100px;
  }

}