/*  responsive : comun  */
/* color del side :  000, 00%   180, 50% */

body {  width:98%;  margin:0px auto;  }



ul.navega { list-style-type: none;
  margin: 0;
  padding: 0;
  background-color:hsl(000, 00%, 90%);  /* #e1eaea; */   
  border-bottom:1px solid black;
  overflow: auto; 
 }
ul.navega li a { display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
  float: none; 
 }
ul.navega li a.activo {  background-color:black;  color: white; }     /* 0c6f10  #4CAF50;   */
ul.navega li a:hover:not(.activo) {  background-color: hsl(000, 00%, 80%);  }
  
/* profile red icons*/
div#quien ul li i { font-size:25px; }
div#quien li { display:inline-block; margin-right:12px; margin-left:12px; margin-top:0px; margin-bottom:0px; }

div#containerForMain, #footer {  margin-left: 0;  }
div#containerForMain { padding-top: 0em; padding-left:0%; padding-right:0%;  }

form button[type="submit"], button[type="button"]{
  border-radius: 5pt;  display:block;   margin:2em auto 0em; 
  
  font-size: 25px;  width:70px;  height:50px;
}

form[id$=Form] label, fieldset.notHidable label, h2.notHidable { font-size:1.75em; letter-spacing:0.20em; display: block; }
div[id$=Titulo] label.explica, fieldset.notHidable label.explica { font-size:0.70em; letter-spacing:0.20em; display:block; text-align:left; }

fieldset.hidable label {  font-size:1.25em; letter-spacing:0.20em;    }
fieldset.hidable label.explica {  font-size:0.7em; letter-spacing:0.20em; }

input[type="text"], input[type="radio"], input[type="tel"], input[type="password"], textarea{
	border-radius: 4px;   font-size:1em;  margin-bottom: 12px;  padding: 5px 10px;         
}
a:link, a:visited, a {  font-size: 1.1em;  letter-spacing:0.20em;  }


@media screen and (min-width: 667px) {
  ul.navega {  width: 100%;  height: auto;  position: relative;  }
  ul.navega li a {  float: left;  padding: 15px;  }

  /* profile red icons*/
  div#quien ul li i { font-size:35px; }
  div#quien li { display:inline-block; margin-right:16px; margin-left:16px; margin-top:0px; margin-bottom:0px; }

  div#containerForMain { padding-left:5%; padding-right:5%;  }

  form button[type="submit"], button[type="button"]{
    font-size: 35px;  width:90px;  height:70px;
  }

  form[id$=Form] label, fieldset.notHidable label, h2.notHidable { font-size:2em; letter-spacing:0.30em; display: block; }
  div[id$=Titulo] label.explica, fieldset.notHidable label.explica { font-size:0.85em; letter-spacing:0.20em; display:block; text-align:left; }

  fieldset.hidable label {  font-size:1.5em; letter-spacing:0.30em;    }
  fieldset.hidable label.explica {  font-size:0.85em; letter-spacing:0.20em; }

  input[type="text"], input[type="radio"], input[type="tel"], input[type="password"], textarea{
    border-radius: 8px;  font-size:1.5em;  margin-bottom: 25px;  padding: 10px 20px;         
  }
  a:link, a:visited, a {  font-size: 1.25em;  letter-spacing:0.30em;  }
}

@media screen and (min-width: 1001px) {  
  body {  min-width:375px;  max-width:1024px;  margin:0px auto;  }
  body {  width:1000px;  height: 100%;  left:calc(0.5*(100% - 1000px));  border-right:0.25px solid black; }

  ul.navega {  width: 200px;  position: fixed; height: 100%;  border-right:1px solid black; border-left:1px solid black; }
  ul.navega li a {  text-align: left;  float: none;  }

  /* profile red icons*/
  div#quien ul li i { font-size:48px; }
  div#quien li { display:inline-block; margin-right:16px; margin-left:16px; margin-top:0px; margin-bottom:0px; }

  div#containerForMain, #footer {  margin-left:200px;  }
  div#containerForMain { padding-left:5%; padding-right:5%;  }


  form button[type="submit"], button[type="button"]{
    font-size: 48px;  width:116px;  height:96px;
  }

  form[id$=Form] label, fieldset.notHidable label, h2.notHidable { font-size:2.15em; letter-spacing:0.35em; display: block; }
  div[id$=Titulo] label.explica, fieldset.notHidable label.explica { font-size:0.85em; letter-spacing:0.20em; display:block; text-align:left; }

  fieldset.hidable label {  font-size:1.25em; letter-spacing:0.30em;    }
  fieldset.hidable label.explica {  font-size:0.85em; letter-spacing:0.20em; }

  input[type="text"], inxxxput[type="radio"], input[type="tel"], input[type="password"], textarea{
    border-radius: 8px;   font-size:1.25em;  width:30em;  margin-bottom: 25px;   padding: 10px 20px;         
  }
  a:link, a:visited, a {  font-size: 1.15em;  letter-spacing:0.20em;  }
}