/*orden  : comun*/
/*This makes sure that the padding and border are included in the total width and height of the elements. */ 
* { box-sizing:border-box; }
body { margin:0px auto; min-width:320pt; max-width:960pt; } 
.margen { margin-left:1%; margin-right:1%; }
.contenido { margin-bottom:50pt; margin-top:50pt; }
/*vertical-align pone la imagen en el fondo del texto q iria alrededor de un elemento inline como lo son las imagenes, sino creas un gap entre la img y el containing div */
div#header img { width:100%; vertical-align:text-bottom; }
div#footer { min-height:107pt; overflow:auto; }
div#footer ul { text-align:center; list-style-type:none; padding:0; }
div#footer li { display:inline-block; float:left; }
div#navega ul { text-align:left; list-style-type:none; margin:0pt; padding:0; }    
div#navega li { display:inline-block; margin-right:25pt; padding:10pt 0; } 

 




/*estilo : comun */
/*
.color01{ color:#c0392b } labels y h2s. try rojito #fd341d;
.color02{ color:#27ae60 } profile video h1 y footer background
.color03{ color:#16a085 } div#cuando td, .enfasis, label.explica ; for verde try 00e356
.color04{ color:#7fb3d5 } link hover background
.color05{ color:#2980b9 } link border
.color06{ color:#f1c40f } div#donde h3, div#cuando h3
*/
body { background-color:#ffffff; font-family:'Slabo 27px', Times, times, serif; font-weight:normal; letter-spacing:0.1em; } /*like faq paragraph*/
h1 { letter-spacing:0.40em; }
h2 { letter-spacing:0.30em; } 
h3 { letter-spacing:0.25em; }
h4 { letter-spacing:0.15em; } 
p, td { line-height:2em; }
p::first-letter{ font-size:1.5em; }
.enfasis { font-size:1.2em; font-weight:bold; font-family:mono, monospace; font-style:xxitalicxx; color:#16a085;}
.nameenfasis { font-size:1.2em; font-weight:bold; font-family:mono, monospace;}
a.link { text-decoration:none; font-weight:bolder; }
a.link:link,     a.link:visited { color:#1980b9; }
a.link:hover, a.link:focus { text-decoration:underline; }
a.link li:hover, a.link li:focus { text-decoration:underline; }




div#navega a.navelink { font-family:serif, mono, monospace; font-size:0.8em; }
h1, h2, h3, h4, label { font-family:courier, mono, monospace; }
div#footer h3.footertitulo { font-family:Pacifico, serif, fantasy, mono, monospace;  text-align:right; color:beige; letter-spacing:0.10em; }	
div#footer a.footerlink { font-family:courier, mono, monospace; font-size:0.75em; }
div#footer a.footerlink:link,     a.footerlink:visited { color:beige; }
div#footer { background-color:#27ae60; border-top:2pt solid #909090; border-bottom:2pt solid #909090; }




/*orden : busca */
form#queDondeForm { margin-left:auto; margin-right:auto; }
form#queDondeForm label { float:left; clear:left; width:40%; text-align:right; margin-right:7.5%; }
form#queDondeForm input { width:50%; } /*hasta aqui un width de 40 + 7.5 + 50; esta suma suma debe dejar disponible menos q el width del button*/
form#queDondeForm button { width:25%; position:relative; left:47.5%; }






/*estilo : busca */
form#queDondeForm label { font-size:1.5em; letter-spacing:0.30em; font-weight:bolder; color:#c0392b; }
form#queDondeForm input { font-size:1.5em; border-radius:5pt; background-color:#ebebeb; }
form#queDondeForm input:focus { background-color:#dadada; }
form#queDondeForm button { border-radius:5pt; background-color:white; border-color:#2980b9; border-style:solid;  border-width:2pt; } 
form#queDondeForm button:hover, form#queDondeForm button:focus { background-color:#7fb3d5; }






/*orden : profile */
div#video iframe { display:block; margin-left:auto; margin-right:auto; }
div#video, div#quien, div#cuando, div#que, div#donde { padding-bottom:50pt; border-top:2pt solid #dadada; }
div#que ul, div#donde ul, div#quien ul { padding:0; }
div#que li, div#donde li { display:inline-block; margin-right:2pt; margin-bottom:1.5em; }
div#donde h3, div#cuando h3 { text-align:center; margin-top:20pt; margin-bottom:20pt; }
div#donde h3 span.si, div#donde h3 span.no, div#cuando h3 span.si, div#cuando h3 span.no 
{ background: url("../imagenes/si-no.png"); 
  vertical-align:text-bottom; 
  display:inline-block;
  height:25px;
  width:25px;
  margin-left:10pt; }
div#donde h3 span.no, div#cuando h3 span.no { background-position:0px -25px; } 
div#cuando td.dia { text-align:right; }
div#cuando td.hora { text-align:left; position:relative; left:25pt; }
    
div#quien ul { text-align:center; margin-top:0pt; margin-bottom:20pt; }    
div#quien li { display:inline-block; margin-right:12pt; margin-left:12pt; margin-top:0pt; margin-bottom:0pt; } 
div#quien ul li img { width:25pt; }






/*estilo : profile */
div#video h1 { color:#27ae60; }
div#video h4 { color:#16a085; }
div#que h2, div#donde h2, div#cuando h2, div#quien h2 { color:#c0392b; } 
div#donde h3, div#cuando h3 { color:#f1c40f; } 
/*font para #que #donde #cuando*/
a.clavelink { font-family:'Slabo 27px', Times, times, courier, mono, monospace; letter-spacing:0.1em; } 
div#cuando td { font-family:'Bree Serif', serif, Times, times; font-weight:bolder; letter-spacing:0.25em; }
a.clavelink:link, a.clavelink:visited {
    background-color:white;
    color:black;
    border-color:#2980b9;
    border-style:solid;     border-width:1pt;  border-radius:5pt;
	 /*border-top-left-radius:40% 50%; border-top-right-radius:40% 50%; border-bottom-left-radius:20% 50%; border-bottom-right-radius:20% 50%;*/
    padding:0.25em 0.5em 0em 0.5em; }
a.clavelink:hover, a.clavelink:focus {
	text-decoration:none; /*todos los .link aqui subrayan, pero este NO*/
    background-color:#7fb3d5;
    color:#ffffff;  }
    
div#que ul, div#donde ul, div#quien ul { list-style-type:none; }
div#cuando td { color:#16a085; }
div#quien ul img { border-color:#2980b9;  border-style:solid;  border-width:1pt;  border-radius:5pt; padding:0.2em; }






/*orden : opciones */
div#opcionesfotos { overflow:auto; }
div#opcionesfotos img { /*display inline is a default for img */ display:inline; float:left; }






/*orden : login */
/*casi una copia de busca*/
form#loginForm { margin-left:auto; margin-right:auto; }
form#loginForm label { float:left; clear:left; width:40%; text-align:right; margin-right:7.5%; }
form#loginForm input { width:50%; } /*hasta aqui un width de 40 + 7.5 + 50; esta suma suma debe dejar disponible menos q el width del button*/
form#loginForm button { width:25%; position:relative; left:47.5%; }






/*estilo : login */
/*casi una copia de busca*/
form#loginForm label { font-size:1.5em; letter-spacing:0.1em; font-weight:bolder; color:#c0392b; }
form#loginForm input { font-size:1.5em; border-radius:5pt; background-color:#ebebeb; }
form#loginForm input:focus { background-color:#dadada; }
form#loginForm button { border-radius:5pt; background-color:white; border-color:#2980b9; border-style:solid;  border-width:2pt; } 
form#loginForm button:hover, form#loginForm button:focus { background-color:#7fb3d5; }






/*orden : registro */
/*casi una copia de busca*/
form#registroForm { margin-left:auto; margin-right:auto; }
form#registroForm label { float:left; clear:left; width:40%; text-align:right; margin-right:7.5%; }
form#registroForm input { width:50%; } /*hasta aqui un width de 40 + 7.5 + 50; esta suma suma debe dejar disponible menos q el width del button*/
form#registroForm button { width:25%; position:relative; left:47.5%; }






/*estilo : registro */
/*casi una copia de busca*/
form#registroForm label { font-size:1.5em; letter-spacing:0.1em; font-weight:bolder; color:#c0392b; }
form#registroForm input { font-size:1.5em; border-radius:5pt; background-color:#ebebeb; }
form#registroForm input:focus { background-color:#dadada; }
form#registroForm button { border-radius:5pt; background-color:white; border-color:#2980b9; border-style:solid;  border-width:2pt; } 
form#registroForm button:hover, form#loginForm button:focus { background-color:#7fb3d5; }






/*estilo : faq */
[id*="preg"] h1, [id*="preg"] h2, [id*="preg"] h3, [id*="preg"] h4 { color:#c0392b; }
[id*="preg"] { margin-top:60pt; }






/* orden : micuenta */
form#editDatoForm { margin-left:auto; margin-right:auto; }





/*estilo : micuenta*/
form#editDatoForm label { font-size:1.7em; letter-spacing:0.4em; font-weight:bolder; color:#c0392b; display:block; }
form#editDatoForm input { font-size:1.5em; border-radius:5pt; background-color:#ebebeb; }
form#editDatoForm input:focus { background-color:#dadada; }
form#editDatoForm button { border-radius:5pt; background-color:white; border-color:#2980b9; border-style:solid;  border-width:2pt; } 
form#editDatoForm button:hover, form#editDatoForm button:focus { background-color:#7fb3d5; }
form#editDatoForm label.explica { color:#16a085; font-size:0.85em; letter-spacing:0.2em; fontxxx-style:italic; fontxxx-weight:bold; }

form#editDatoForm fieldset { margin:0pt; margin-top:75pt; padding:0pt;}
form#editDatoForm fieldset.secundario { margin-top:30pt; }
form#editDatoForm fieldset.secundario label { font-size:1.2em; letter-spacing:0.00em; }
form#editDatoForm fieldset.secundario label.explica { font-size:0.85em; letter-spacing:0.00em; }

form#editDatoForm p { margin-top:2pt; margin-bottom:30pt; }
form#editDatoForm input.si { margin-right:30pt; }
form#editDatoForm button { display:block; margin-bottom:30pt; }
div#editDatoForm h1 { color:#16a085; }